.headerBar {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(file:///C:/Users/Ant/Desktop/CC%20Projects/abcbakery/src/components/media/images/marble.jpg) !important;
    
}

.logo {
    height: 30%;
    width: 80%;
}