/* .homeNav {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
*/

.subNav {
    background-color: #F2BAC9 !important;
    font-size: 20px;
    font-weight: 700; /*increased the font size and added font weight*/
}

.links {
    padding-left: 2rem;
    margin-right: 2rem;
}

/*
.home {
    padding-left: 2rem;
}
*/

.navbar-toggler {
    width: 100%;
    margin-left: 280px;
} 